<aside layout="column" class="sidebar">
  <div class="sidebar__header">
    <a class="sidebar__ava" href="#">
      <img src="{{user.data.photoAddress}}" alt="" class="">
    </a>
    <div class="sidebar__caption">
      <div class="sidebar__heading">{{user.data.name}}</div>
      <div class="sidebar__title">{{user.data.email}}</div>
    </div>
  </div>
  <div class="sidebar-toggle-wrap" style="-webkit-appearance: none;">
      <i class="sidebar__toggle"></i>
      <div style="-webkit-appearance: none;" href="#1" class="btn-left" title="open sidebar"></div>
    </div>
  <md-list class="side-list" style="position: relative; height: 100%;">
    <md-item ng-repeat="item in menu" title="{{item.title}}">
      <a ui-sref="{{item.link}}">
        <md-item-content md-ink-ripple>
          <div class="sidebar__icon">
            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
          </div>
          <div class="sidebar__text">{{item.title}}
          </div>
        </md-item-content>
      </a>
    </md-item>
    <md-divider></md-divider>
    <md-subheader class="sidebar__subheading">Управление</md-subheader>
    <md-item ng-repeat="item in admin">
      <a ui-sref="{{item.link}}">
        <md-item-content md-ink-ripple>
          <div class="sidebar__icon">
            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
          </div>
          <div class="sidebar__text">{{item.title}}
          </div>
        </md-item-content>
      </a>
    </md-item>
  </md-list>
<div class="overlay"></div>

</aside>
