<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          vacancies
          </h1>
          <p class="text--subheading-2">
           <div class="vacancy-item" ng-repeat="vacancy in vacancies track by $index">
              <a href="" ui-sref="user.vacancyPage({vacancyId: vacancy.id})">{{vacancy.title}}</a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>