/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-dressing {
  background-image: url(sprite-png.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-fork {
  background-image: url(sprite-png.png);
  background-position: -21px 0px;
  width: 16px;
  height: 16px;
}
.icon-lock {
  background-image: url(sprite-png.png);
  background-position: 0px -21px;
  width: 16px;
  height: 16px;
}
.icon-parking {
  background-image: url(sprite-png.png);
  background-position: -21px -21px;
  width: 16px;
  height: 16px;
}
.icon-rail {
  background-image: url(sprite-png.png);
  background-position: -42px 0px;
  width: 16px;
  height: 16px;
}
.icon-rent {
  background-image: url(sprite-png.png);
  background-position: -42px -21px;
  width: 16px;
  height: 16px;
}
.icon-shower {
  background-image: url(sprite-png.png);
  background-position: 0px -42px;
  width: 16px;
  height: 16px;
}
.icon-stadium {
  background-image: url(sprite-png.png);
  background-position: -21px -42px;
  width: 16px;
  height: 16px;
}
.icon-wifi {
  background-image: url(sprite-png.png);
  background-position: -42px -42px;
  width: 16px;
  height: 16px;
}
