/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-award {
  background-image: url(sprite3.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-exercise {
  background-image: url(sprite3.png);
  background-position: -37px 0px;
  width: 32px;
  height: 32px;
}
.icon-field {
  background-image: url(sprite3.png);
  background-position: 0px -37px;
  width: 32px;
  height: 32px;
}
.icon-medal {
  background-image: url(sprite3.png);
  background-position: -37px -37px;
  width: 32px;
  height: 32px;
}
.icon-runer {
  background-image: url(sprite3.png);
  background-position: -74px 0px;
  width: 32px;
  height: 32px;
}
.icon-speed {
  background-image: url(sprite3.png);
  background-position: -74px -37px;
  width: 32px;
  height: 32px;
}
.icon-swimming {
  background-image: url(sprite3.png);
  background-position: 0px -74px;
  width: 32px;
  height: 32px;
}
.icon-video-camera {
  background-image: url(sprite3.png);
  background-position: -111px -37px;
  width: 32px;
  height: 32px;
}
.icon-video-player {
  background-image: url(sprite3.png);
  background-position: -111px -74px;
  width: 32px;
  height: 32px;
}
.icon-play-button {
  background-image: url(sprite3.png);
  background-position: -111px 0px;
  width: 32px;
  height: 32px;
}