<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          tenders
          </h1>
          <div class="vacancy-item" ng-repeat="tender in tenders track by $index">
            <a href="" ui-sref="user.tenderPage({tenderId: tender.id})">{{tender.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>