body{
	margin: 0px;
	padding: 0px;
}
.microphone-button-taphold{
	transition: 0.3s;
	width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99999;
}
.microphone-button-taphold>i{
	color: #6ac1ca; 
	font-size: 22px;
}
.microphone-button-taphold.holded >i {
	transform: scale(1.2);
}

@media all and (max-width: 768px){
	.inbenta .inbenta-bot .ui-draggable{
		bottom: auto!important;
		right: auto!important;
		width: 100%!important;
		height: 90%!important;
	}
	.inbenta .inbenta-bot-spacer{
		margin: 0px!important;
		width: 100%!important;
		height: 100%!important;
	}
	.inbenta .inbenta-bot__bubble, .inbenta .inbenta-bot__chat{
		margin: 0px!important;
		width: 100%!important;
		height: 90%!important;
	}
}
