<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          admin-catalox
          </h1>
            <div class="row">
              <div class="col-2" ng-repeat="product in products track by $index">
                <a href="" ui-sref="user.catalogProduct({productId: product.id})">{{product.title}}</a> | 
                <a href="" ui-sref="admin.editProductPage({productId: product.id})">.edit</a>
              </div>
            </div>
            
           
           <a href="" ui-sref="admin.addProductPage()">add product</a>
        </div>
      </div>
    </div>
  </div>
</section>