<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-10">
          <h1 class="heading--1">
            {{product.title}}
          </h1>
          <div class="row">
            <div class="col-3">
              <input type="text" placeholder="Назва товару" ng-model="product.title">
            </div>
            <div class="col-3">
              <input type="text" placeholder="Ціна" ng-model="product.price">
            </div>
            <div class="col-3">
              <input type="text" placeholder="Опис товару" ng-model="product.description">
            </div>
            <div class="col-3">
              <select name="product.availability" ng-model="product.availability" multiple="multiple">
                <option value="" disabled="disabled" selected="selected">Доступність у магазинах</option>
                <option value="{{store.store_id}}" ng-repeat="store in stores track by $index" data-id="{{store.store_id}}">{{store.city_title}} - {{store.store_title}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <input type="text" ng-model="product.vendor" placeholder="Артикул">
            </div>
            <div class="col-3">
              <input type="text" ng-model="product.dimensions" placeholder="Габарити">
            </div>
            <div class="col-3">
              <input type="text" ng-model="product.size" placeholder="Розміри">
            </div>
            <div class="col-3">
              <input type="text" ng-model="product.age_restrictions" placeholder="Вікові обмеження">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-4">
              <select ng-change="selectProductCategory(selectedCategory)" ng-model="selectedCategory" ng-repeat="superCategory in categoriesArr track by $index" style="width: 80%;">
                <option value="" disabled="disabled" selected="selected">{{superCategory.title}}</option>
                <option ng-value="{{category}}" ng-repeat="category in categories track by $index" ng-if="category.id_category == superCategory.id">{{category.subcategory_title}}</option>
              </select>
            </div>
            <div class="col-4">
              <select ng-model="product.brand_id" style="width: 80%;">
                <option value="" disabled="disabled" selected="selected">Бренд</option>
                <option value="{{brand.id}}" ng-repeat="brand in brands track by $index">{{brand.title}}</option>
              </select>
            </div>
            <div class="col-4">
              <input class="ng-hide" id="input-file-id-avatar" type="file" nv-file-select="" uploader="uploaderAvatar"/>
              <label for="input-file-id-avatar" class="btn--main">Выбрать файл</label>
              <input class="ng-hide" ng-init="obj.avatar = uploaderAvatar.queue[0]._file.name" ng-if="uploaderAvatar.queue.length" name="avatar" type="text" ng-model="obj.avatar" ng-value="uploaderAvatar.queue[0]._file.name" ng-file-select="onFileSelect($files[0]);"/>
            </div>
          </div>

          <div class="row" ng-if="uploaderAvatar.queue.length">
            <div class="col-6">
              <div ng-if="uploaderAvatar.queue.length" class="cropArea">
                <ui-cropper image="image.originalImage" area-type="rectangle" result-image="image.croppedImage" result-image-size="'max'"></ui-cropper>
              </div>
              <div ng-if="uploaderAvatar.queue.length">
                <!-- <div flex="100"> Загрузка изображения: {{ uploaderAvatar.progress }} </div>
                <div flex="100" class="total-progress-box">
                  <md-progress-linear md-mode="determinate" value="{{uploaderAvatar.progress}}"></md-progress-linear>
                </div> -->
                <div>
                  <md-button  ng-click="uploaderAvatar.uploadAll()" ng-disabled="!uploaderAvatar.getNotUploadedItems().length" class="btn--main">Загрузить</md-button>
                  <md-button ng-click="uploaderAvatar.clearQueue()" ng-disabled="!uploaderAvatar.queue.length" class="btn--main">Удалить</md-button>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div>Так будет выглядеть Ваше изображение:</div>
              <div><img ng-src="{{image.croppedImage}}" style="height: 200px"/></div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h3>Галерея товару</h3>
              <div ng-show="uploaderGallery.isHTML5">
                <div nv-file-drop="" nv-file-over="" uploader="uploaderGallery" options="{url: '/platform/create'}" over-class="other-over-zone" class="other-drop-zone zone">
                  Перетащите файлы
                </div>
                <br />
                <div>Или выберите их на своем компьютере: </div><br />
                <input class="ng-hide" id="input-file-id" type="file" nv-file-select="" uploader="uploaderGallery" multiple />
                <label for="input-file-id" class="btn--main">Выбрать файлы</label>
                <div style="clear: both;"></div>
                <input class="ng-hide" ng-init="obj.gallery = uploaderGallery.queue" ng-if="uploaderGallery.queue.length" type="text" ng-model="obj.gallery" ng-value="uploaderGallery.queue"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
               <center><h4 class="md-no-sticky" style="color:#000!important;">Количество файлов: {{ uploaderGallery.queue.length + gallery.length}}</h4></center><br>
            </div>
            <div class="col-12" ng-if="uploaderGallery.queue.length || gallery.length">
              <div ng-repeat="item in gallery track by $index">
                <img src="/uploads/catalog/images/gallery/{{item}}">
                <i class="fa fa-trash" aria-hidden="true" ng-click="removePhoto(item)"></i>
              </div>
              <div ng-repeat="item in uploaderGallery.queue">
                <div ng-thumbp="{ file: item._file }" height="400" width="500"></div>
                <i class="fa fa-trash icon--1" aria-hidden="true" ng-click="item.remove()"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <h3>Общая загрузка: {{ uploaderGallery.progress }}</h3>
            <div>
              <button  ng-click="uploaderGallery.uploadAll()" ng-disabled="!uploaderGallery.getNotUploadedItems().length" class="md-raised md-warn">Загрузить</button>
              <button ng-click="uploaderGallery.cancelAll()" ng-disabled="!uploaderGallery.isUploading" class="md-raised md-warn">Отменить загрузку</button>
              <button ng-click="uploaderGallery.clearQueue()" ng-disabled="uploaderGallery.queue.length" class="md-raised md-warn">Удалить</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-3" ng-click="save()">
              <button>Зберегти</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>