<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          consultant-page
          </h1>
          <p class="text--subheading-2">
           MAIN TEXT <br>
           <a href="/blog" ui-sref="user.blogPage">blog</a> | 
           <a href="/advices" ui-sref="user.advicesPage">advices</a> | 
           <a href="/answers" ui-sref="user.answersPage">answers</a>  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>