<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          admin-Giftcard
          </h1>
          <p class="text--subheading-2">
           <a href="" ui-sref="user.giftcardPage({giftcardId: 1})">Giftcard 1</a>
           <a href="" ui-sref="admin.editGiftcardPage({giftcardId: 1})">edit Giftcard 1</a>
           <a href="" ui-sref="admin.addGiftcardPage()">add Giftcard</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>