<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          advices
          </h1>
          <p class="text--subheading-2">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione harum deleniti possimus cumque suscipit fugit repellat, sint ea blanditiis! Odio porro laborum enim assumenda, cupiditate, ut id sit debitis nam eum praesentium amet nulla libero dignissimos quas, unde eveniet? Molestias nostrum enim eveniet natus tenetur unde architecto maiores, ipsum itaque nihil aut, qui. Similique tempore dignissimos blanditiis a eligendi officiis, non nostrum obcaecati fuga eum vero veniam fugiat magnam repellat ratione tenetur, voluptates optio! Ipsum culpa aliquam mollitia officia debitis dignissimos vitae iste at quis delectus. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>