 <div layout="row">
   <user-side-menu class="sidebar-wrap"></user-side-menu>
   <div class="relative main-col" role="main">
    <md-toolbar class="nav-tab">
     <coach-header user="user" page="Настройки"></coach-header>
     <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Основные настройки
      </md-tab>
      <md-tab id="tab2" aria-controls="tab4-content">
        Медиа-материалы
      </md-tab>
    </md-tabs>
  </md-toolbar>
  <md-content flex md-scroll-y>
    <ui-view class="account--view" layout="column" layout-fill layout-padding>
      <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div
        class="row-of-main-content"
        id="tab1-content"
        aria-labelledby="tab1"
        ng-switch-when="0"
        md-swipe-left="next()"
        md-swipe-right="previous()"
        layout="column" layout-align="center center" layout-padding>
        <div flex="100" style="width: 100%;">

          <!-- BEGIN section -->
          <section class="box--card">
            <h3> Основные настройки </h3><br>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4">
               <md-input-container class="row--39">
                <label>Введите имя</label>
                <input required name="clientName" ng-model="user.data.name">
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <md-input-container class="row--39">
                <label>Введите email</label>
                <input required name="clientName" ng-model="user.data.email">
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <md-input-container class="row--39">
                <label>Введите Телефон</label>
                <input required name="clientName" ng-model="user.data.tel">
                <div ng-messages="projectForm.clientName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
             <md-input-container class="row--39">
              <label>Выберите удобства</label>
              <md-select ng-model="user.data.facilities" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
                <md-optgroup label="Удобства">
                  <md-option ng-value="facility.id" ng-repeat="facility in facilities">{{facility.title}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <md-input-container class="row--39">
              <label>Выберите город</label>
              <md-select name="type" ng-model="user.data.city" required>
                <md-option value="{{city.id}}" ng-selected="city.id == user.data.city" ng-repeat="city in cities " ng-value="{{city.id}}">{{city.title}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
           <md-input-container class="row--39" ng-if="user.data.city">
            <label>Выберите район</label>
            <md-select name="type" ng-model="user.data.districts" required>
              <md-option value="{{dist.id}}" ng-selected="dist.id == user.data.districts" ng-repeat="dist in cities[user.data.city - 1].districts" ng-value="{{dist.id}}">{{dist.title}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <md-input-container class="row--39" ng-if="user.data.districts && cities[user.data.city - 1].districts[user.data.districts - 1].undergrounds.length>0">
            <label>Выберите станцию метро</label>
            <md-select name="type" ng-model="user.data.undergrounds" required>
              <md-option value="under.id}}" ng-selected="under.id == user.data.undergrounds" ng-repeat="under in cities[user.data.city - 1].districts[user.data.districts - 1].undergrounds" ng-value="{{under.id}}">{{under.title}}</md-option>
            </md-select>
          </md-input-container>
        </div>

      </div>
      <br><br>
      <div>

        <h3 class='row--38'> Изображение: </h3>

        <div layout="row" layout-align="start center">
          <i class="fa fa-file-image-o icon--img"  aria-hidden="true"></i>
          <input class="ng-hide" id="input-file-id-avatar" type="file" nv-file-select="" uploader="uploaderAvatar"/>
          <label for="input-file-id-avatar" class="btn--main">Выбрать файл</label>
          <input class="ng-hide" ng-init="obj.avatar = uploaderAvatar.queue[0]._file.name" ng-if="uploaderAvatar.queue.length" name="avatar" type="text" ng-model="obj.avatar" ng-value="uploaderAvatar.queue[0]._file.name" ng-file-select="onFileSelect($files[0]);"/>
        </div>

        <div layout="row" layout-wrap>
          <div class="col-xs-12 col-sm-6">
            <!-- <div class="cropArea" ng-if="uploaderAvatar.queue.length">
              <img-crop ng-show="image.originalImage" image="image.originalImage" change-on-fly="true" result-image="image.croppedImage" area-type="square" result-image-size="250"></img-crop>
            </div> -->
            <div class="cropArea2" ng-if="uploaderAvatar.queue.length">
              <ui-cropper image="image.originalImage" area-type="square" result-image="image.croppedImage" result-image-size="'max'"></ui-cropper>
            </div>

            <div ng-if="uploaderAvatar.queue.length">
              <div flex="100"> Загрузка аватарки: {{ uploaderAvatar.progress }} </div>
              <div flex="100" class="total-progress-box">
                <md-progress-linear md-mode="determinate" value="{{uploaderAvatar.progress}}"></md-progress-linear>
              </div>

              <div flex="100">
                <md-button  ng-click="uploaderAvatar.uploadAll()" ng-disabled="!uploaderAvatar.getNotUploadedItems().length" class="btn--main">Загрузить</md-button>
                <md-button ng-click="uploaderAvatar.cancelAll()" ng-disabled="!uploaderAvatar.isUploading" class="btn--main">Отменить загрузку</md-button>
                <md-button ng-click="uploaderAvatar.clearQueue()" ng-disabled="!uploaderAvatar.queue.length" class="btn--main">Удалить</md-button>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6" ng-if="uploaderAvatar.queue.length">
            <div>Так будет выглядеть Ваше изображение:</div>
            <div><img ng-src="{{image.croppedImage}}" class="cropped-img-preview"/></div>
          </div>

        </div>

      </div>


    </section>
    <!-- END section -->

    <!-- BEGIN card -->
    <section class="box--card">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-12">
              <h3> Изменить пароль </h3><br>
            </div>
            <div class="col-xs-12 col-sm-6">
             <md-input-container class="row--39">
              <label>Введите новый пароль</label>
              <input type="password" name="clientName" ng-model="user.data.newPassword">
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6">
           <md-input-container class="row--39">
            <label>Повторите пароль</label>
            <input type="password" name="clientName" ng-model="user.data.newPasswordRepeat">
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END card -->

<!-- BEGIN card -->
<section class="box--card">
 <div class="row">

   <div class="col-md-12">
     <div class="row">
       <div class="col-sm-12">
         <h3> Реквизиты </h3><br>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Выберите форму налогообложения</p><br>
        <md-radio-group ng-model="user.data.taxation">
          <md-radio-button value="2">Частное лицо–предприниматель</md-radio-button>
          <md-radio-button value="1">Общество с ограниченной ответственностью</md-radio-button>
        </md-radio-group>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
        <md-input-container class="row--39">
         <label>Название ООО</label>
         <input type="text" name="clientName" ng-model="user.data.requisites.officialName">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>ЕДРПОУ</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.edrpou">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>Название банка</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.bankName">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>МФО</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.mfo">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>Номер счета</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.bankAccount">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>Email</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.email">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>Телефон</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.telNumber">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>ФИО директора</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.directorName">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==1">
      <md-input-container class="row--39">
        <label>Сайт</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.webSite">
       </md-input-container>
     </div>

    <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==2">
      <md-input-container class="row--39">
       <label>ФИО (полностью)</label>
       <input type="text" name="clientName" ng-model="user.data.requisites.fullName">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==2">
      <md-input-container class="row--39">
       <label>Введите серию и номер паспорта</label>
       <input type="text" name="clientName" ng-model="user.data.requisites.seriaPassport">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==2">
       <md-input-container class="row--39">
        <label>Кем выдан паспорт</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.whoGave">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==2">
       <md-input-container class="row--39">
        <label>ИНН</label>
        <input type="text" name="clientName" ng-model="user.data.requisites.inn">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==2">
      <md-input-container class="row--39">
       <label>Введите адрес прописки</label>
       <input type="text" name="clientName" ng-model="user.data.requisites.placeOfResidence">
     </md-input-container>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-4" ng-if="user.data.taxation==2">
     <md-input-container class="row--39">
      <label>Введите реквизиты платёжной системы</label>
      <input type="text" name="clientName" ng-model="user.data.requisites.data">
    </md-input-container>
  </div>
</div>
</div>
</div>
</section>
<!-- END card -->
<section class="box--card-1">
 <div class="row">
   <div class="col-md-12">
     <div class="row">
       <div class="col-sm-12">
         <h3> Социальные сети </h3><br>
       </div>
      <div class="col-xs-12 col-sm-4">
        <md-input-container class="row--39">
         <label>Введите ссылку на фейсбук</label>
         <input type="text" name="clientName" ng-model="user.data.social.facebook">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-4">
       <md-input-container class="row--39">
        <label>Введите ссылку на вконтакте</label>
        <input type="text" name="clientName" ng-model="user.data.social.vk">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-4">
      <md-input-container class="row--39">
       <label>Введите ссылку на твиттер</label>
       <input type="text" name="clientName" ng-model="user.data.social.twitter">
     </md-input-container>
   </div>
   <div class="col-xs-12 col-sm-4">
     <md-input-container class="row--39">
      <label>Введите ссылку на инстаграм</label>
      <input type="text" name="clientName" ng-model="user.data.social.instagram">
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-4">
     <md-input-container class="row--39">
      <label>Введите ссылку на youtube</label>
      <input type="text" name="clientName" ng-model="user.data.social.youtube">
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-4">
     <md-input-container class="row--39">
      <label>Введите ссылку на linkedIn</label>
      <input type="text" name="clientName" ng-model="user.data.social.linkedin">
    </md-input-container>
  </div>
   </div>
 </div>
 </div>
</section>
<!-- END card -->

<!-- BEGIN card -->
<!-- <section class="box--card">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12">
          <h3> Социальные сети </h3><br>
        </div>
       <div class="col-xs-12 col-sm-4">
         <md-input-container class="row--39">
          <label>Введите ссылку на фейсбук</label>
          <input type="text" name="clientName" ng-model="user.data.social.facebook">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-4">
        <md-input-container class="row--39">
         <label>Введите ссылку на вконтакте</label>
         <input type="text" name="clientName" ng-model="user.data.social.vk">
       </md-input-container>
     </div>
     <div class="col-xs-12 col-sm-4">
       <md-input-container class="row--39">
        <label>Введите ссылку на твиттер</label>
        <input type="text" name="clientName" ng-model="user.data.social.twitter">
      </md-input-container>
    </div>
    </div>
  </div>
  </div>
</section> -->
<!-- END card -->

<!-- BEGIN card -->
<section class="box--card">
  <h3> Изменить расположение </h3><br><br>
  <google-map-settings location="user.data.location"></google-map-settings>
</section>
<!-- END card -->


<!-- BEGIN card -->
<section class="box--card">
  <h3> Введите краткое описание клуба </h3><br>
  <div text-angular class='field__comment--2' ng-model="user.data.shortDescription"></div>
  <!-- <trix-editor angular-trix ng-model="foo"></trix-editor> -->
  <!-- <textarea ng-model="obj.description" rows="5" md-select-on-focus></textarea> -->
</section>
<!-- END card -->

<!-- BEGIN card -->
<section class="box--card">
  <h3> Введите полное описание клуба </h3><br>
  <div text-angular class='field__comment--2' ng-model="user.data.description"></div>
  <!-- <trix-editor angular-trix ng-model="foo"></trix-editor> -->
  <!-- <textarea ng-model="obj.description" rows="5" md-select-on-focus></textarea> -->
</section>
<!-- END card -->
</div>
</div>

<div role="tabpanel"
id="tab2-content"
aria-labelledby="tab2"
ng-switch-when="1"
md-swipe-left="next()"
md-swipe-right="previous()"
layout="row" layout-align="center center">
<media id="user.id" gallery="user.data.gallery" style="width: 100%;"></media>
</div>

<md-button class="btn--main" ng-click="update(user)">Сохранить</md-button>
</ng-switch>
</ui-view>
</md-content>
</div>
</div>

<style media="screen">
div[ta-bind="ta-bind"] {
  height: 100%;
  outline: none;
}
.form-control {
  min-height: 340px;
  height: auto;
}
</style>
