<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-12">
          <h1 class="heading--1">
          add-vacancies-page
          </h1>
          <div class="row">
            <div class="col-12 col-md-4">
              <span>Назва вакансії</span><br>
              <input type="text" ng-model="vacancy.title">
            </div>
            <div class="col-12 col-md-4">
              <span>ЗП</span><br>
              <input type="text" ng-model="vacancy.salary">
            </div>
            <div class="col-12 col-md-4">
              <span>Опис</span><br>
              <textarea ng-model="vacancy.description"></textarea>
            </div>
          </div>
          <div class="row">
            <div>
              <input class="ng-hide" id="input-file-id-avatar" type="file" nv-file-select="" uploader="uploaderAvatar"/>
              <label for="input-file-id-avatar" class="btn--main">Выбрать файл</label>
              <input class="ng-hide" ng-init="obj.avatar = uploaderAvatar.queue[0]._file.name" ng-if="uploaderAvatar.queue.length" name="avatar" type="text" ng-model="obj.avatar" ng-value="uploaderAvatar.queue[0]._file.name" ng-file-select="onFileSelect($files[0]);"/>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div ng-if="uploaderAvatar.queue.length" class="cropArea">
                  <ui-cropper image="image.originalImage" area-type="rectangle" result-image="image.croppedImage" result-image-size="'max'"></ui-cropper>
                </div>
                <div ng-if="uploaderAvatar.queue.length">
                  <!-- <div flex="100"> Загрузка изображения: {{ uploaderAvatar.progress }} </div>
                  <div flex="100" class="total-progress-box">
                    <md-progress-linear md-mode="determinate" value="{{uploaderAvatar.progress}}"></md-progress-linear>
                  </div> -->
                  <div>
                    <md-button  ng-click="uploaderAvatar.uploadAll()" ng-disabled="!uploaderAvatar.getNotUploadedItems().length" class="btn--main">Загрузить</md-button>
                    <md-button ng-click="uploaderAvatar.clearQueue()" ng-disabled="!uploaderAvatar.queue.length" class="btn--main">Удалить</md-button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" ng-if="uploaderAvatar.queue.length">
                <div>Так будет выглядеть Ваше изображение:</div>
                <div><img ng-src="{{image.croppedImage}}" style="height: 200px"/></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button ng-click="addVacancy()">Додати вакансію</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>