<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero" data-id="hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          KOSMO club
          </h1>
          <p class="text--subheading-2">
           MAIN TEXT <br>
           <a href="/club/about" ui-sref="user.kosmoclubAbout">About kosmo club</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>