<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero" data-id="hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
            {{"main-page-title" | translate}}
          </h1>
          <p class="text--subheading-2">
           select page: <br>
            <a href="/discount" ui-sref="user.discountCatalog">Акції</a> |
            <a href="/kosmo-club" ui-sref="user.kosmoclub">KOSMO CLUB</a><br>
            <a href="/friendly-club" ui-sref="user.friendlyClubPage">friendlyClubPage</a> | 
            <a href="/catalog" ui-sref="user.catalog">catalog</a><br>
            <a href="/consultant" ui-sref="user.consultant">consultant</a><br>
            <a  ui-sref="user.brands">brands</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>