<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          editBrandId
          </h1>
          <form>
            <div>Редагувати назву бренду</div>
            <input type='text' ng-model="brand.title">
            <div>
              <div>Змінити логотип бренду</div>
              <img src="{{brand.photoAddress}}">
              <div>
                <div class="row">
                  <div>
                    <input class="ng-hide" id="input-file-id-avatar" type="file" nv-file-select="" uploader="uploaderAvatar"/>
                    <div>Додати логотип бренду</div>
                    <label for="input-file-id-avatar" class="btn--main" style="background-color:grey;padding:5px">Выбрать файл</label>
                    <input class="ng-hide" ng-init="obj.avatar = uploaderAvatar.queue[0]._file.name" ng-if="uploaderAvatar.queue.length" name="avatar" type="text" ng-model="obj.avatar" ng-value="uploaderAvatar.queue[0]._file.name" ng-file-select="onFileSelect($files[0]);"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div ng-if="uploaderAvatar.queue.length" class="cropArea">
                      <ui-cropper image="image.originalImage" area-type="rectangle" result-image="image.croppedImage" result-image-size="'max'"></ui-cropper>
                    </div>
                    <div ng-if="uploaderAvatar.queue.length">
                      <div>
                        <md-button  ng-click="uploaderAvatar.uploadAll()" ng-disabled="!uploaderAvatar.getNotUploadedItems().length" class="btn--main">Загрузить</md-button>
                        <md-button ng-click="uploaderAvatar.clearQueue()" ng-disabled="!uploaderAvatar.queue.length" class="btn--main">Удалить</md-button>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6" ng-if="uploaderAvatar.queue.length">
                    <div>Так будет выглядеть Ваше изображение:</div>
                    <div><img ng-src="{{image.croppedImage}}" style="height: 200px"/></div>
                  </div>
                </div>
            </div>
            <div>Редагувати опис бренду</div>
            <textarea type='text' style="width:500px; padding:5px;" ng-model="brand.description"></textarea>
            <button style="display:block; margin-top:20px;"  ng-click='save(brand.title, brand.description)'>Зберегти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>