<div layout="row" style="background-color: #e8eaf6;">
  <!-- <user-side-menu ng-if="rootUser.userType == 3" class="sidebar-wrap"></user-side-menu> -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2>{{user.name}}</h2>
        <div class="profile" style="min-height: 400px; padding: 30px; background: gray;">
          <a href="/details" ui-sref="account.details">Мої дані</a><br>
          <a href="/shopping-list" ui-sref="account.shoppingList">Мій список покупок</a><br>
          <a href="/wishes" ui-sref="account.wishesList">Мої побажання</a><br>
          <a href="/scores" ui-sref="account.scores">Мої бали (Бонуси)</a><br>
          <a href="/discounts" ui-sref="account.discounts">Мої акції</a><br>
          <a href="/card" ui-sref="account.card">Моя картка</a><br>
          <a href="/suggestions" ui-sref="account.suggestions">Пропозиція для мене</a>
        </div>
      </div>
      <div class="col-6">
        <h2>Редагування даних</h2>
        <div class="row">
          <div class="col-4"><span>Ім'я</span></div>
          <div class="col-8"><input type="text" ng-model="user.name"></div>
        </div>
        <div class="row">
          <div class="col-4"><span>Прізвище</span></div>
          <div class="col-8"><input type="text" ng-model="user.lastname"></div>
        </div>
        <div class="row">
          <div class="col-4"><span>Місто</span></div>
          <div class="col-8">
            <select ng-model="user.location.city_id">
              <option value="{{city.id}}" ng-repeat="city in cities track by $index">{{city.title}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-4"><span>Логін</span></div>
          <div class="col-8"><input type="text" ng-model="user.login"></div>
        </div>
        <div class="row">
          <div class="col-4"><span>email</span></div>
          <div class="col-8"><input type="text" ng-model="user.email"></div>
        </div>
        <div class="row">
          <div class="col-4"><span>Телефон</span></div>
          <div class="col-8"><input type="text" ng-model="user.phone"></div>
        </div>
        <div class="row">
          <div class="col-4"><span>Пароль</span></div>
          <div class="col-8"><input type="text" ng-model="user.newPassword"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 class='row--38'> Изображение: </h3>
            <div class="row">
              <input class="ng-hide" id="input-file-id-avatar" type="file" nv-file-select="" uploader="uploaderAvatar"/>
              <label for="input-file-id-avatar">Выбрать файл</label>
              <input class="ng-hide" ng-init="obj.avatar = uploaderAvatar.queue[0]._file.name" ng-if="uploaderAvatar.queue.length" name="avatar" type="text" ng-model="obj.avatar" ng-value="uploaderAvatar.queue[0]._file.name" ng-file-select="onFileSelect($files[0]);"/>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="cropArea2" ng-if="uploaderAvatar.queue.length">
                  <ui-cropper image="image.originalImage" area-type="square" result-image="image.croppedImage" result-image-size="'max'"></ui-cropper>
                </div>

                <div ng-if="uploaderAvatar.queue.length">
                  <div> Загрузка аватарки: {{ uploaderAvatar.progress }} </div>
                  <div>
                    <md-progress-linear md-mode="determinate" value="{{uploaderAvatar.progress}}"></md-progress-linear>
                  </div>

                  <div>
                    <md-button  ng-click="uploaderAvatar.uploadAll()" ng-disabled="!uploaderAvatar.getNotUploadedItems().length" class="btn--main">Загрузить</md-button>
                    <md-button ng-click="uploaderAvatar.cancelAll()" ng-disabled="!uploaderAvatar.isUploading" class="btn--main">Отменить загрузку</md-button>
                    <md-button ng-click="uploaderAvatar.clearQueue()" ng-disabled="!uploaderAvatar.queue.length" class="btn--main">Удалить</md-button>
                  </div>
                </div>

              </div>

              <div class="col-12" ng-if="uploaderAvatar.queue.length">
                <div>Так будет выглядеть Ваше изображение:</div>
                <div><img ng-src="{{image.croppedImage}}" class="cropped-img-preview"/></div>
              </div>

            </div>
          </div>  
        </div>
        <div class="row">
          <button ng-click="save()">Зберегти</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
