<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          user-suggestions
          </h1>
          <p class="text--subheading-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>