<header-open></header-open>

<!-- BEGIN hero -->
<section class="bg--hero">
  <div class="section--hero-1 section--hero-main4 bg-section-main-static" data-id="hero-bg">
    <div class="container">
      <div class="row justify-content-center" style="padding-top: 9vh">
        <div class="col-xs-12 col-lg-8">
          <h1 class="heading--1">
          admin-news
          </h1>
          <div class="news-row" ng-repeat="new in news track by $index">
            <a href="" ui-sref="user.newsPage({newsId: new.id})">{{new.title}}</a>
            <a href="" ui-sref="admin.editNewsPage({newsId: new.id})">.edit</a>
            <a href="" ng-click="removeNews(new.id);">.remove</a>
          </div>
          <p class="text--subheading-2">
           
           <a href="" ui-sref="admin.addNewsPage()">add News </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>